.listContainer{
    width: 80%;
    margin: auto;
}
.list-item{
    list-style: none;
    padding: .7em;
    margin-top: .4em;
    background: rgba(197, 189, 189, 0.316);
    box-shadow: 0px 2px 2px rgba(150, 144, 144, 0.795);
    font-family: 'Gill Sans';
}
.btn{
    background-color: rgba(230, 15, 15, 0.768);
    padding: .5em;
    cursor: pointer;
    flex: 1.5;
    border-radius: 15px;
}
.list{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list p {
    display: flex;
}
.list p span{
    text-align: center;
}
.list p span:nth-child(1){
    flex:5;
}
form{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .3fr .2fr;
    align-content: space-between;
    height: 23vh;
    margin: auto;
}
form > div {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}
form label {
    color: rgb(82, 76, 76);
}
form  > div input{
    padding: .4em .3em;
    border: none;outline: none;
    border-bottom: 1px solid black;
}

.btn-add{
    width: 80%;
    margin: auto;
    box-shadow: inset 2px 2px 2px #0d4766a4,
                inset -2px -2px 2px #83baf5;
    border-radius:14px;
    font-size: 1.3em;
    background: rgb(11, 197, 221);
    border: none;
    cursor: pointer;
}
/*Animation*/
.animate{
    animation: LightSpeedIn .6s ease-out .1s backwards;
}
@keyframes LightSpeedIn
{
    0% {
            transform: translate3d(-100%, 0, 0) skewX(-30deg);
            opacity: 0;
      }
    
      60% {
            transform: skewX(5deg);
            opacity: .6;
      }
    
      80% {
            transform: skewX(0deg);
            opacity: .9;
      }
    
      100% {
            transform: none;
            opacity: 1;
      }
}
.fadeOut{
    transform: translateX(-100px);
    transition: transform .5s ease-in;
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/*Animation*/
/*Media querie*/
@media (min-width:750px){
    .listContainer{
        width: 40%;
    }
    form{
        width: 40%;
    }
}