header{
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(29, 114, 96, 0.829);
    padding: .6em 0;
}
header nav{
    width: 100%;
}
header nav ul{
    display:  flex;
    justify-content:flex-start;
}
header nav ul li{
    list-style: none;
    margin-left: 1em;
}
 a{
    text-decoration: none;
    color: rgb(245, 245, 245);
}