header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(29, 114, 96, 0.829);
    padding: .6em 0;
}
header nav{
    width: 100%;
}
header nav ul{
    display:  flex;
    justify-content:flex-start;
    padding: 0;
}
header nav ul li{
    list-style: none;
    margin: 0 1.4em 0;
}
 a{
    text-decoration: none;
    color: rgb(245, 245, 245);
}
@media (max-width:350px) {
    header nav ul{
        flex-direction: column;
        justify-self: center;
    }
    header nav ul li{
        margin: 2em 0 0;
    }
    header nav ul a {
        text-align: center;
    }
}